@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la franquicia de talleres </h1>
    <img style="width: 50%" src="https://thumbs.dreamstime.com/z/servicio-de-ajuste-autos-retro-espect%C3%A1culo-motores-autom%C3%B3viles-veh%C3%ADculos-viejos-vintage-y-estacionamiento-aparato-raros-161852813.jpg" />
</div>
